{% extends 'base_dashboard.html' %}
{% block content %}
<style>
    .table th {
    background-color: #f8f9fa;
    font-weight: 600;
}

.table tbody tr:hover {
    background-color: #f1f3f5;
}
</style>
<div class="card mb-4">
<div class="card-header d-flex justify-content-between align-items-center">
           <h3><b>Category List</b></h3>
           <div>
              <a href="{% url 'category_dashboard' %}" class="btn btn-outline-secondary btn-sm me-2">
                 <i class="bi bi-arrow-left-circle-fill"></i> Back
              </a>
          </div>
        </div>

<div class="card-body">
        <table class="table table-striped">
            <thead>
                 <tr>
                    <th>Category Name</th>
                    <th>Product Counts</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
        {% for item in page_obj %}
        <tr>
            <td>
    <a href="{% url 'category_products' item.category.id %}" class="fw-semibold text-decoration-none">
        {{ item.category.name }}
    </a>
</td>

            <td>{{ item.total_products }}</td>
            <td>
                {% if request.user.is_superuser %}
                <a href="{% url 'update_category' item.category.id %}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{% url 'delete_category' item.category.id %}" class="btn btn-sm btn-danger">Delete</a>
                {% elif request.user.groups.first.name == "Manager" %}
                <a href="{% url 'update_category' item.category.id %}" class="btn btn-sm btn-warning">Edit</a>
                {% else %}
                View Only
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" class="text-center">No categories found</td>
        </tr>
        {% endfor %}
    </tbody>
        </table>
    </div>
</div>
<nav class="mt-4">
<ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
    {% endif %}

    <li class="page-item active">
        <span class="page-link">{{ page_obj.number }}</span>
    </li>

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
    {% endif %}

</ul>
</nav>
{% endblock %}
