{% extends "base_dashboard.html" %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="card shadow-sm p-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0"><b>Request {{product.name}}</b></h3>
            <div>
              {% if request.user.is_superuser %}
              <a href="{% url 'purchase_dashboard' %}" class="btn btn-outline-secondary btn-sm me-2">
                 <i class="bi bi-arrow-left-circle-fill"></i> Back
              </a>
              {% elif request.user.groups.first.name == 'Manager' or request.user.groups.first.name == 'Staff' %}
              <a href="{% url 'purchase_dashboard2' %}" class="btn btn-outline-secondary btn-sm me-2">
                 <i class="bi bi-arrow-left-circle-fill"></i> Back
              </a>
              {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="card shadow-sm p-4">
      <div class="alert alert-info">
         Supplier: <b>{{ product.supplier.name }}</b> 
      </div>
      <form method="POST">
      {% csrf_token %}
           <input type="text" name='description' class='form-control mb-2' placeholder='Reason for purchase' required>
          <input type="number" name="quantity" class="form-control mb-2" placeholder="Quantity" required>
          <button class="btn btn-success">Submit Request</button>
       </form>
    </div>
</div>
{% endblock %}
