{% extends "base_dashboard.html" %}
{% load number_filters %}
{% load static %}
{%block pagetitle%}Inventory Value Report{% endblock pagetitle%}
{% block link %}
 <a href="{% url 'report_dashboard' %}" class="btn btn-light btn-sm border">
            ← Back
        </a>
<button class="btn btn-outline-secondary btn-sm dropdown-toggle"
                    data-bs-toggle="dropdown">
                Export Inventory Value Report
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url "export_inventory_csv" %}">CSV</a></li>
                <li><a class="dropdown-item" href="{% url "export_inventory_excel" %}">Excel</a></li>
                <li><a class="dropdown-item" href="{% url "export_inventory_pdf" %}">PDF</a></li>
            </ul>
{% endblock link %}
{% block panel %}Report Panel{% endblock panel%}
{% block content %}
<h5><b>Total Inventory Value: </b>₹{{ total_value|short_number }}</h5>
<div class="card dashboard-card mb-4">


    <!-- TABLE -->
    <div class="card-body p-0">
        <table class="table table-hover align-middle mb-0">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
            </thead>

            <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>₹{{ product.price }}</td>
                <td>₹{{ product.total_value }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% endblock %}
