{% extends 'base_dashboard.html' %}
{% block content %}

<div class="dashboard-header mb-4 p-3 bg-light rounded shadow-sm d-flex justify-content-between align-items-center">
    <h5 class="fw-bold">
        <b>
            <a href="{% url 'order_list' %}" style="color: grey; font-size: 2rem;">
                <i class="bi bi-arrow-left-circle-fill"></i>
            </a>
            Order #{{ order.bill_number }}
        </b>
    </h5>

    <div class="d-flex gap-2">
        {% if order.status == "Draft" %}
    {% if request.user.is_superuser %}
        <a href="{% url 'confirm_order' order.id %}" class="btn btn-warning">Confirm</a>
    {% elif request.user.groups.all|length > 0 and request.user.groups.first.name == "Manager" %}
        <a href="{% url 'confirm_order' order.id %}" class="btn btn-warning">Confirm</a>
    {% endif %}
{% endif %}

{% if order.status == "Confirmed" and order.payment_status == "Pending" %}
    {% if request.user.is_superuser %}
        <a href="{% url 'mark_paid' order.id %}" class="btn btn-success">Mark Paid</a>
    {% elif request.user.groups.all|length > 0 and request.user.groups.first.name == "Manager" %}
        <a href="{% url 'mark_paid' order.id %}" class="btn btn-success">Mark Paid</a>
    {% endif %}
{% endif %}

{% if order.payment_status == "Paid" %}
    <a href="{% url 'order_receipt' order.id %}" class="btn btn-success">⬇ Download Receipt</a>
{% endif %}

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm p-3 mb-3">
            <h6 class="fw-bold">Customer Details</h6>
            <p><strong>Name:</strong> {{ order.customer_name }}</p>
            <p><strong>Email:</strong> {{ order.customer_email }}</p>
            <p><strong>Phone:</strong> {{ order.customer_phonenumber }}</p>
        </div>
        <div class="card shadow-sm p-3">
            <h6 class="fw-bold">Delivery Address</h6>
            <p>{{ order.customer_address }}</p>
            <p>{{ order.city }} - {{ order.pincode }}</p>
            <p>{{ order.get_state_display }}</p>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card shadow-sm">
            <table class="table mb-0">
                <thead class="table-light">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Warranty</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.items.all %}
                    <tr>
                        <td>{{ item.product }}</td>
                        <td>₹ {{ item.price|floatformat:2 }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            {{ item.warranty_months }} months <br>

                            {% if item.warranty_end %}
                                Valid till: {{ item.warranty_end }} <br>

                                {% if item.is_under_warranty %}
                                    <span class="badge bg-success">Under Warranty</span>
                                {% else %}
                                    <span class="badge bg-danger">Warranty Expired</span>
                                {% endif %}
                            {% else %}
                                <span class="text-muted">Warranty not started</span>
                            {% endif %}
                        </td>

                        <td>₹ {{ item.total|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="table-light">
                    <tr>
                        <th colspan="3" class="text-end">Grand Total</th>
                        <th>₹ {{ order.total_amount|floatformat:2 }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{% endblock %}
