{% extends 'base_dashboard.html' %}
{% load static %}
{% load group_tags %}
{%block pagetitle%}Stockouts{% endblock pagetitle%}
{%block pagecontent %}Products having no stock and need immediate attention{% endblock pagecontent %}
{% block link %}
<a href="{% url 'stock_dashboard' %}" class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-arrow-left-circle"></i> Back
        </a>
{% if request.user|has_group:'Manager' or request.user|has_group:'Staff'%}
        <a href="{% url 'purchase_request' %}" class="btn btn-primary btn-sm">
                <i class="bi bi-cart-plus"></i> Request Purchase
        </a>
        {% endif %}
<button class="btn btn-outline-secondary btn-sm dropdown-toggle"
                    data-bs-toggle="dropdown">
                Export Out of Stock List
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'export_outstock_csv' %}">CSV</a></li>
                <li><a class="dropdown-item" href="{% url 'export_outstock_excel' %}">Excel</a></li>
                <li><a class="dropdown-item" href="{% url 'export_outstock_pdf' %}">PDF</a></li>
            </ul>
{% endblock link %}
{% block panel %}Out Stock Panel{% endblock panel%}
{% block content %}
<style>
.stock-table th {
    font-size: 12px;
    text-transform: uppercase;
    color: #6c757d;
    background: #f8fafc;
}

.stock-row:hover {
    background: #f8fafc;
    transition: 0.2s;
}

.product-img {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    object-fit: cover;
    background: #f1f5f9;
    padding: 6px;
}

.stock-progress {
    height: 6px;
    border-radius: 20px;
}

.qty-badge {
    background: #fff3cd;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: 600;
}

</style>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Vendor</th>
                        <th>Stock Level</th>
                        <th>Qty</th>
                    </tr>
            </thead>
            <tbody>
          {% for product in page_obj %}
                <tr class="stock-row">

                    <!-- Image -->
                    <td>
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="product-img">
                        {% else %}
                            <img src="https://cdn-icons-png.flaticon.com/512/679/679922.png" class="product-img">
                        {% endif %}
                    </td>

                    <!-- Name -->
                    <td>
                        <div class="fw-semibold">{{ product.name }}</div>
                        <small class="text-muted">SKU: {{ product.id }}</small>
                    </td>

                    <td>{{ product.category.name }}</td>
                    <td>{{ product.supplier.name }}</td>

                    <!-- Stock Progress -->
                   <td style="width:180px;">
    <small class="text-danger fw-semibold">
        Critical 0%
    </small>

    <div class="progress mt-1" style="height:6px;">
        <div class="progress-bar bg-danger"
             style="width: 0%;">
        </div>
    </div>
</td>


                    <!-- Qty Badge -->
                    <td>
                        <span class="qty-badge bg-danger-subtle">{{ product.quantity }} units</span>
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center py-4 text-muted">
                        🎉 No low stock items
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <nav class="mt-4">
<ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
    {% endif %}

    <li class="page-item active">
        <span class="page-link">{{ page_obj.number }}</span>
    </li>

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
    {% endif %}

</ul>
</nav>
    </div>
</div>
</div>
{% endblock %}
