{% extends "base_dashboard.html" %}
{% load static %}
{%block pagetitle%}Reorder Report{% endblock pagetitle%}
{% block link %}
<a href="{% url 'report_dashboard' %}" class="btn btn-light btn-sm border">
            ← Back
        </a>
 <button class="btn btn-outline-secondary btn-sm dropdown-toggle"
                    data-bs-toggle="dropdown">
                Export Reorder Report
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url "export_reorder_csv" %}">CSV</a></li>
                <li><a class="dropdown-item" href="{% url "export_reorder_excel" %}">Excel</a></li>
                <li><a class="dropdown-item" href="{% url "export_reorder_pdf" %}">PDF</a></li>
            </ul>
{% endblock link %}
{% block panel %}Report Panel{% endblock panel%}
{% block content %}
<p><b>Threshold:</b> {{ threshold }}</p>
<div class="card dashboard-card mb-4">


    <!-- TABLE -->
    <div class="card-body p-0">
        <table class="table table-hover align-middle mb-0">
            <thead>
              <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Current Quantity</th>
                <th>Purchase Price</th>
              </tr>
            </thead>

           <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.sku }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>₹{{ product.purchase_price }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No products need reorder</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% endblock %}
