{% extends 'base_dashboard.html' %}
{% block content %}

<div class="dashboard-header mb-4 d-flex justify-content-between align-items-center p-3 bg-light rounded shadow-sm">
    <div class="page-title fw-bold fs-5">Procurement Management</div>
    <div class="welcome-text">Overview of Purchase Requests & Orders</div>
</div>

<div class="mb-3 d-flex gap-2">
    {% if request.user.is_superuser or request.user.groups.first.name == "Manager" %}
        <a href="{% url 'purchase_create' %}" class="btn btn-primary">➕ Create Purchase Request</a>
        <a href="{% url 'purchase_list' %}" class="btn btn-outline-secondary">📄 All Purchase Records</a>
    {% endif %}
</div>

<h3>Pending Purchase Requests</h3>

<table class="table">
<tr>
    <th>Product</th>
    <th>Qty</th>
    <th>Requested By</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for r in requests %}
<tr>
    <td>{{ r.product.name }}</td>
    <td>{{ r.quantity }}</td>
    <td>{{ r.requested_by.username }}</td>
    <td>
        <span class="badge bg-{% if r.status == 'Approved' %}success{% elif r.status == 'Rejected' %}danger{% else %}warning{% endif %}">
            {{ r.status }}
        </span>
    </td>

    <td>
    {% if user.is_superuser and r.status == "Pending" %}
        <a href="{% url 'approve_purchase_request' r.id 'approve' %}" class="btn btn-success btn-sm">Approve Request</a>
        <a href="{% url 'approve_purchase_request' r.id 'reject' %}" class="btn btn-danger btn-sm">Reject Request</a>
    {% endif %}
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}
