{% extends 'base_dashboard.html' %}
{% block content %}
<div class="dashboard-header mb-4 d-flex justify-content-between align-items-center p-3 bg-light rounded shadow-sm">
    <div class="page-title fw-bold fs-5">
        Inventory Management
    </div>
    <div class="d-flex align-items-center">
        <div class="header-right d-flex align-items-center">
            <div class="welcome-text me-2">Overview of Inventory & Stock Levels</div>
        </div>
    </div>
</div>
<div class="mb-3 d-flex gap-2">
    
    {% if request.user.is_superuser or request.user.groups.first.name == "Manager" or request.user.groups.first.name == "Staff" %}
        <a href="{% url 'stock_in_section' %}" class="btn btn-primary">➕ Add Stock</a>
        <a href="{% url 'stock_history' %}" class="btn btn-dark">Stock History</a>
        <a href="#" class="btn btn-outline-secondary">📄 Inventory Overview</a>
    {% endif %}
</div>
<!--Stats-->
<div class="row mb-4">

    <div class="col-md-3">
        <a href="{% url 'product_list' %}" class="text-decoration-none">
        <div class="card shadow-sm p-4 text-center card-hover" style="border-left: 5px solid #2563eb">
            <div class="card-icon mb-2">
                <i class="bi bi-box-fill icon-blue icon-bg"></i>
            </div>
            <h6 class="text-muted">Total Inventory Items</h6>
            <h3 class="fw-bold">{{ total_products }}</h3>
        </div>
    </a>
    </div>

    <div class="col-md-3">
        <a href="{% url 'in_stock' %}" class="text-decoration-none">
        <div class="card shadow-sm p-4 text-center card-hover" style="border-left: 5px solid #16a34a">
            <div class="card-icon mb-2">
                <i class="bi bi-check-circle-fill icon-green icon-bg"></i>
            </div>
            <h6 class="text-muted">In-Stock Items</h6>
            <h3 class="fw-bold">{{ in_stock }}</h3>
        </div>
    </a>
    </div>

    <div class="col-md-3">
        <a href="{% url 'low_stock' %}" class="text-decoration-none">
        <div class="card shadow-sm p-4 text-center card-hover" style="border-left: 5px solid #f97316">
            <div class="card-icon mb-2">
                <i class="bi bi-exclamation-triangle-fill icon-orange icon-bg"></i>
            </div>
            <h6 class="text-muted">Reorder Alerts</h6>
            <h3 class="fw-bold">{{ low_stock }}</h3>
        </div>
    </a>
    </div>

    <div class="col-md-3">
        <a href="{% url 'out_stock' %}" class="text-decoration-none">
        <div class="card shadow-sm p-4 text-center card-hover" style="border-left: 5px solid #dc2626">
            <div class="card-icon mb-2">
                <i class="bi bi-x-circle-fill icon-red icon-bg"></i>
            </div>
            <h6 class="text-muted">Stockouts</h6>
            <h3 class="fw-bold">{{ out_stock }}</h3>
        </div>
    </a>
    </div>
</div>
<hr>

    <form method="GET">
        <div class="row g-2">

            <div class="col-md-3">
                <input type="text" name="q" value="{{ request.GET.q }}" class="form-control" placeholder="Search product or SKU">
            </div>

            <div class="col-md-2">
                <select name="category" class="form-select">
                    <option value="">All Categories</option>
                    {% for c in categories %}
                        <option value="{{ c.id }}" {% if request.GET.category == c.id|stringformat:"s" %}selected{% endif %}>
                            {{ c.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-2">
                <select name="supplier" class="form-select">
                    <option value="">All Suppliers</option>
                    {% for s in suppliers %}
                        <option value="{{ s.id }}" {% if request.GET.supplier == s.id|stringformat:"s" %}selected{% endif %}>
                            {{ s.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-2">
                <select name="status" class="form-select">
                    <option value="">All Status</option>
                    <option value="in" {% if request.GET.status == 'in' %}selected{% endif %}>In Stock</option>
                    <option value="low" {% if request.GET.status == 'low' %}selected{% endif %}>Low Stock</option>
                    <option value="out" {% if request.GET.status == 'out' %}selected{% endif %}>Out of Stock</option>
                </select>
            </div>

            <div class="col-md-3 d-flex">
                <button class="btn btn-dark w-100">Filter Inventory</button>
            </div>

        </div>
    </form>


<hr>
<div class="card shadow-sm mb-4">
    <div class="card-header bg-warning text-dark fw-bold">
        Critical Stock Alerts
    </div>
    <div class="card-body p-0">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                {% for product in low_stock_products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.supplier.name }}</td>
                    <td class="text-danger fw-bold">{{ product.quantity }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center text-success">All products are safe 🎉</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="p-2 d-flex justify-content-end">
    <ul class="pagination pagination-sm mb-0">
        {% if low_stock_products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page_low={{ low_stock_products.previous_page_number }}">‹</a>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">{{ low_stock_products.number }}</span>
        </li>

        {% if low_stock_products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page_low={{ low_stock_products.next_page_number }}">›</a>
            </li>
        {% endif %}
    </ul>
</div>

    </div>
</div>
<div class="card shadow-sm mb-4">
    <div class="card-header fw-bold">
        Inventory Snapshot
    </div>
    <div class="card-body p-0">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Qty</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        {% if product.quantity == 0 %}
                            <span class="badge bg-danger">Out</span>
                        {% elif product.quantity <= 5 %}
                            <span class="badge bg-warning text-dark">Low</span>
                        {% else %}
                            <span class="badge bg-success">In Stock</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-3 d-flex justify-content-between align-items-center">
    <div>
        Showing {{ products.start_index }}–{{ products.end_index }} of {{ products.paginator.count }}
    </div>

    <ul class="pagination mb-0">
        {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page_products={{ products.previous_page_number }}">‹</a>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">{{ products.number }}</span>
        </li>

        {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page_products={{ products.next_page_number }}">›</a>
            </li>
        {% endif %}
    </ul>
</div>
</div>

{% endblock content %}