{% extends 'base_dashboard.html' %}
{% block content %}
<style>
    .table th {
    background-color: #f8f9fa;
    font-weight: 600;
}

.table tbody tr:hover {
    background-color: #f1f3f5;
    }

</style>
<div class="dashboard-header mb-4 d-flex justify-content-between align-items-center p-3 bg-light rounded shadow-sm">
    <div class="page-title fw-bold fs-5">
        Vendor Management
    </div>
    <div class="d-flex align-items-center">
        <div class="header-right d-flex align-items-center">
            <div class="welcome-text me-2">Overview of Vendors & Supply Activity</div>
            <div class="d-flex align-items-center">
                <form method="get" class="d-flex">
                    <input type="text" name="q" placeholder="Search Vendors......" class="form-control me-2" value="{{ search|default:'' }}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
           </div>
        </div>
    </div>
</div>
<!--Top Actions-->
<div class="mb-3 d-flex gap-2">
    
    {% if request.user.is_superuser or request.user.groups.first.name == "Manager" %}
        <a href="{% url 'add_supplier' %}" class="btn btn-primary">➕ Register New Vendor</a>
    {% endif %}
    <a href="{% url 'supplier_list' %}" class="btn btn-outline-secondary">📄 All Vendors</a>
</div>
<!--Stats-->
<div class="row mb-3">
    <div class="col-md-3">
        <a href="{% url 'supplier_list' %}" class="text-decoration-none">
        <div class="card shadow-sm p-4 text-center card-hover" style="border-left: 5px solid #38bdf8">
            <div class="card-icon mb-2">
                <i class="bi bi-truck-front-fill icon-cyan icon-bg"></i>
            </div>
            <h6 class="text-muted">Total Vendors</h6>
            <h3 class="fw-bold">{{ total_supplier }}</h3>
        </div>
    </a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'active_supplier' %}" class="text-decoration-none">
        <div class="card shadow-sm p-4 text-center card-hover" style="border-left: 5px solid #22c55e">
            <div class="card-icon mb-2">
                <i class="bi bi-truck icon-gree icon-bg"></i>
            </div>
            <h6 class="text-muted">Active Vendors</h6>
            <h3 class="fw-bold">{{ active_supplier }}</h3>
        </div>
    </a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'inactive_supplier' %}" class="text-decoration-none">
        <div class="card shadow-sm p-4 text-center card-hover" style="border-left: 5px solid #ef4444">
            <div class="card-icon mb-2">
                <i class="bi bi-truck-flatbed icon-redd icon-bg"></i>
            </div>
            <h6 class="text-muted">Inactive Vendors</h6>
            <h3 class="fw-bold">{{ inactive_supplier }}</h3>
        </div>
    </a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'product_list' %}" class="text-decoration-none">
        <div class="card shadow-sm p-4 text-center card-hover" style="border-left: 5px solid #3b82f6">
            <div class="card-icon mb-2">
                <i class="bi bi-box-seam-fill icon-bluish icon-bg"></i>
            </div>
            <h6 class="text-muted">Products Supplied</h6>
            <h3 class="fw-bold">{{ products }}</h3>
        </div>
    </a >
    </div>
<div>
    <hr>
     <div class="card shadow-sm mb-4">
    <div class="card-header fw-bold bg-light">
        📂 Vendor Directory
    </div>
<table class="table table-hover align-middle bg-white shadow-sm rounded">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    <tbody>
        {% for supplier in page_obj %}
        <tr>
            <td>{{ supplier.id }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.email }}</td>
            <td>{{ supplier.phone }}</td>
            <td>{{ supplier.address }}</td>
            <td>
                {% if request.user.is_superuser %}
                   <a href="{% url 'update_supplier' supplier.id %}" class="btn btn-sm btn-warning">Manage</a>
                   <a href="{% url 'delete_supplier' supplier.id %}" class="btn btn-sm btn-danger">Remove</a>
                   {% if supplier.is_active %}
                      <a href="{% url 'toggle_supplier_status' supplier.pk %}" class="btn btn-sm btn-outline-danger"> Deactivate</a>
                   {% else %}
                      <a href="{% url 'toggle_supplier_status' supplier.pk %}" class="btn btn-sm btn-outline-success"> Activate</a>
                   {% endif %}
                {% elif request.user.groups.first.name == "Manager" %}
                   <a href="{% url 'update_supplier' supplier.id %}" class="btn btn-sm btn-warning">Manage</a>
                {% else %}
                    Read-Only Access
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">No vendors found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
<!--Pagination-->
<nav class="mt-4">
<ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
    {% endif %}

    <li class="page-item active">
        <span class="page-link">{{ page_obj.number }}</span>
    </li>

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
    {% endif %}

</ul>
</nav>

{% endblock content %}